body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: left;
}

.country-flag {
  width: 100%;
  height: auto;
}

label {
  margin: 10px;
  display: block;
}
